<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="false">
    <property name="project-name" value="${rasta.name}"/>
    <property name="project-version" value="${rasta.version}"/>
    <property name="log.path" value="/opt/app/${project-name}-${project-version}/logs"/>

    <contextListener class="org.slf4j.MappedDiagnosticContextListener"/>

    <appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>[%date{ISO8601}] [%level] %logger{50} [%thread] [%X{TRACE_ID}] - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="fileAppender" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.path}/info.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log.path}/%d{yyyy-MM, aux}/info.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>[%date{ISO8601}] [%level] %logger{50} [%thread] [%X{TRACE_ID}] - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="INFO" additivity="false">
        <appender-ref ref="consoleAppender"/>
        <appender-ref ref="fileAppender"/>
    </root>

</configuration>


